* 
{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: arial black;
}

div#scroller
{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

div > div
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: x-large;
    background-size: cover;
    scroll-snap-stop: always
}

#parallax1
{
    background-image: url(trees.webp);
    scroll-snap-align: center;

}

#lungswrapper,
#t2div
{
    display: flex;
    flex-direction: column;
}

#effect2
{
    background-color: hsl(213, 48%, 57%);
    min-height: 80%;
}

#t2div
{
    background-image: url(forest2.jpg);
    background-attachment: fixed;
}

#text4
{
    background: #25587a;
}

#text1
{
    position: fixed;
    top: 300px;
    color: #5c8cc6;
    font-family: arial black;
    font-size: 50px;
}

div > p
{
    font-family: arial black;
    font-size: 50px;
    color: #38543c;
}

div#wave,
div#wave2
{
    max-height: 1px;
}

div#wave > img,
div#wave2 > img
{
    max-height: 1000%;
    position: absolute;
    width: 100%;
    z-index: 5;
    padding: 0px;
}

div#wave2 > img
{
    padding-top: 10vw;
}


div#wave > img
{
    padding-top: 34vw;
}

#text2
{
    position: absolute;
}